doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/css/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    main
      h1 Google SpreadSheets to node for emailing
        
      block main
    script(src='js/javascript.js')